<a href="https://colab.research.google.com/github/vandan9339/2nd-Assignment/blob/main/my_second_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***1. Discuss string slicing and provide examples.***

Ans. String slicing is used to take out a particuler part of string.

Examples:-

In [ ]:
#here i just want to extract starting 4 characters
a = "vandan"
a

'vandan'

In [ ]:
a[0:4] #here syntax >> start index no.: end index number : steps, here end index number is exclusive

'vand'

In [ ]:
#if i do not put end index then it will complete string
a = "knowledge"

In [ ]:
a[0:]

'knowledge'

In [ ]:
#if i want to skip a character on every second step then
a[0::2]

'kolde'

In [ ]:
#if i want last character then
a = "vandan"

In [ ]:
a[3:]

'dan'

In [ ]:
a ="namaskar"

In [ ]:
#if we do not put ant start index number then it will by default start with 0
a[:4]

'nama'

In [ ]:
#if we want it reversal then we have to negative step number
a[::-1]

'raksaman'

***2. Explain the key feature of lists in python.***

Ans. Lists are ordered collection of items. Following are the main feature of lists.



*   Lists are heterogenous, these can store any data type

In [ ]:
list1 = ["Vandan", 152, 152.5,"orange", 2j+5]
list1

['Vandan', 152, 152.5, 'orange', (5+2j)]

Here we saw that in a list we store any data type like string, integers, float, complex number etc.



*   Lists are mutable. We can change the lists after their creation.

In [ ]:
list2 = ["vandan", "ajay", "manoj", "sheetal"]
list2

['vandan', 'ajay', 'manoj', 'sheetal']

In [ ]:
#now let's change sheetal to ravina
list2[-1]

'sheetal'

In [ ]:
list2[-1] = "Ravina"

In [ ]:
list2

['vandan', 'ajay', 'manoj', 'Ravina']

Now it is prove that lists are mutable



*   Lists are ordered collection of elements which we can access through indexing.

In [ ]:
list1 = [5, 10, 15, "vandan", 2j+5]
list1

[5, 10, 15, 'vandan', (5+2j)]

In [ ]:
list1[2]

15

In [ ]:
list1[-1]

(5+2j)

***3. Describe how to access, modify and delete elements in the lists.***

Ans. In lists we access the elements by indexing. If we want to access the elements from starting then we can use 0 for first element, 1 for second element, 2 for third element and so on. And if we want to the access the elements from last then for first element from last we use -1, for second element from last we use -2, for third from last we can use -3 and so on.

In [ ]:
list1 = [5, 10, 15, "vandan", "puneet", "pwskills", 2j+5]
list1

[5, 10, 15, 'vandan', 'puneet', 'pwskills', (5+2j)]

In [ ]:
# let's access the elements from starting
list1[0]

5

In [ ]:
list1[1]

10

In [ ]:
list1[2]

15

In [ ]:
#let's access elements from the last
list1[-1]

(5+2j)

In [ ]:
list1[-2]

'pwskills'

In [ ]:
list1[-3]

'puneet'

As we know that lists are mutable then we can modify the lists.

In [ ]:
#let's change punnet to vandan
list1[4] = "vandan"

In [ ]:
list1

[5, 10, 15, 'vandan', 'vandan', 'pwskills', (5+2j)]

In [ ]:
# by using .append we can add element to the list
list1.append("data science")

In [ ]:
list1

[5, 10, 15, 'vandan', 'vandan', 'pwskills', (5+2j), 'data science']

In [ ]:
# by using .insert we can add element at desired position
list1.insert(-3, "namrata")
# it will add namrata ahead of -3

In [ ]:
list1

[5, 10, 15, 'vandan', 'vandan', 'namrata', 'pwskills', (5+2j), 'data science']

In [ ]:
#we can also remove elements from the list using .remove
list1.remove("vandan")

In [ ]:
list1

[5, 10, 15, 'vandan', 'namrata', 'pwskills', (5+2j), 'data science']

In [ ]:
# by using .pop we can pick out elements from the list. we can use index number the element to pop it out
list1.pop(1)

10

In [ ]:
# poped element will be removes from list
list1

[5, 15, 'vandan', 'namrata', 'pwskills', (5+2j), 'data science']

In [ ]:
list1

[5, 15, 'vandan', 'namrata', 'pwskills', (5+2j), 'data science']

In [ ]:
#by using .clear we can clear the elements in the list
list1.clear()
list1

[]

In [ ]:
#by using del we can delete the list
del list1

In [ ]:
list1

NameError: name 'list1' is not defined

Here we deleted the list.

***4. Compare and contrast tuples and lists.***

Ans. Lists and tuples are the ordered collection of elements. Both of the have similar properties but lists are mutable and tuples are immutable. let's understand their major similarities and difference through examples.

In [ ]:
# list are stored in [] and tuples are stored in ()

In [ ]:
# tuples and lists both are heterogenous and contain any type of data type
list1 = [5, 10, 15, "vandan", "puneet", "pwskills", 2.5, 2j+5]
list1

[5, 10, 15, 'vandan', 'puneet', 'pwskills', 2.5, (5+2j)]

In [ ]:
tuple1 = (5, 10, 15, "vandan", "puneet", "pwskills", 2.5, 2j+5)
tuple1

(5, 10, 15, 'vandan', 'puneet', 'pwskills', 2.5, (5+2j))

In [ ]:
# here are i stored same elements in tuple and list to show that both can contain any type of data type

In [ ]:
# lists and tuple both are ordered collection of elements so we can access through indexing
list1

[5, 10, 15, 'vandan', 'puneet', 'pwskills', 2.5, (5+2j)]

In [ ]:
list1[4]

'puneet'

In [ ]:
list1[-1]

(5+2j)

In [ ]:
list1[0]

5

In [ ]:
list1[-2]

2.5

In [ ]:
# now in tuple
tuple1

(5, 10, 15, 'vandan', 'puneet', 'pwskills', 2.5, (5+2j))

In [ ]:
tuple1[0]

5

In [ ]:
tuple1[-1]

(5+2j)

In [ ]:
tuple1[4]

'puneet'

In [ ]:
# now the major difference of lists and tuple is that lists are mutable but tuples are immutable
list1

[5, 10, 15, 'vandan', 'puneet', 'pwskills', 2.5, (5+2j)]

In [ ]:
# now change pwskills tp physics wallah skills
list1[5] = "physics wallah skills"

In [ ]:
list1

[5, 10, 15, 'vandan', 'puneet', 'physics wallah skills', 2.5, (5+2j)]

In [ ]:
# here it is done
# let's try same operation in tuple
tuple1

(5, 10, 15, 'vandan', 'puneet', 'pwskills', 2.5, (5+2j))

In [ ]:
# now change pwskills tp physics wallah skills
tuple1[5] = "physics wallah skills"

TypeError: 'tuple' object does not support item assignment

In [ ]:
# here it showed error because tuples are immutable

***5. Describe the key features of sets and provide examples of their use.***

Ans. Sets are unordered and unique collection of elements. Following the some key features sets.



*   Sets are unique collection as it do not contain duplicate elements.

In [ ]:
s = {5, 5, 10, 10, 10, "vandan", "vandan", "puneet", "puneet", "pwskills", "pwskills"}
s

{10, 5, 'puneet', 'pwskills', 'vandan'}

In [ ]:
type(s)

set

In [ ]:
#as we see it removed all dusplicate elements



*   Sets are unordered collection of elements so we can not access by indexing.

In [ ]:
s = {5, 5, 10, 10, 10, "vandan", "vandan", "puneet", "puneet", "pwskills", "pwskills"}
s

{10, 5, 'puneet', 'pwskills', 'vandan'}

In [ ]:
s[1]

TypeError: 'set' object is not subscriptable

In [ ]:
#here it showed error that means sets are unordered



*   Set inside set must be immutable.

In [ ]:
s = {5, 5, 10, 10, 10, "vandan", "vandan", "puneet", "puneet", "pwskills", 5, 10, 15, ["vandan", "puneet", "pwskills", 2.5, 2j+5]}
s

TypeError: unhashable type: 'list'

In [ ]:
#here it showed error because lists are mutable

In [ ]:
s = {5, 5, 10, 10, 10, "vandan", "vandan", "puneet", "puneet", "pwskills", 5, 10, 15, {5, 10, 15, "vandan", "puneet", "pwskills", 2.5, 2j+5}}

TypeError: unhashable type: 'set'

In [ ]:
#here it showed error because sets are mutable

In [ ]:
s = { 5, 10, 15, "vandan", "puneet", "pwskills", 2.5, 2j+5, (5, 10, 15, "vandan", "puneet", "pwskills", 2.5, 2j+5) }
s

{(5+2j),
 (5, 10, 15, 'vandan', 'puneet', 'pwskills', 2.5, (5+2j)),
 10,
 15,
 2.5,
 5,
 'puneet',
 'pwskills',
 'vandan'}

In [ ]:
#here it didn't showed error because tuples are immutable



*   sets are mutable.

In [ ]:
s.add("data science") # to add elements to the sets

In [ ]:
s

{(5+2j),
 (5, 10, 15, 'vandan', 'puneet', 'pwskills', 2.5, (5+2j)),
 10,
 15,
 2.5,
 5,
 'data science',
 'puneet',
 'pwskills',
 'vandan'}

In [ ]:
s.pop() # to remove the elements randomly

'puneet'

In [ ]:
s.remove(5 + 2j) # to remove the desired elements from the sets

In [ ]:
s

{(5, 10, 15, 'vandan', 'puneet', 'pwskills', 2.5, (5+2j)),
 10,
 15,
 5,
 'data science',
 'pwskills'}

In [ ]:
s.update("data science") # update takes iteratable

In [ ]:
s

{' ',
 (5, 10, 15, 'vandan', 'puneet', 'pwskills', 2.5, (5+2j)),
 10,
 15,
 5,
 'a',
 'c',
 'd',
 'data science',
 'e',
 'i',
 'n',
 'pwskills',
 's',
 't'}

In [ ]:
s.update(["vandan"]) # to add elements in one spell

In [ ]:
s

{' ',
 (5, 10, 15, 'vandan', 'puneet', 'pwskills', 2.5, (5+2j)),
 10,
 15,
 5,
 'a',
 'c',
 'd',
 'data science',
 'e',
 'i',
 'n',
 'pwskills',
 's',
 't',
 'vandan'}

In [ ]:
s.clear() # to clear the sets

In [ ]:
s

set()

In [ ]:
s = {' ',
 (5, 10, 15, 'vandan', 'puneet', 'pwskills', 2.5, (5+2j)),
 10,
 15,
 5,
 'a',
 'c',
 'd',
 'data science',
 'e',
 'i',
 'n',
 'pwskills',
 's',
 't'}

In [ ]:
s. discard("pwskills") # to remove the desired elements from the sets but it desired element not present it will not show an error

In [ ]:
s

{' ',
 (5, 10, 15, 'vandan', 'puneet', 'pwskills', 2.5, (5+2j)),
 10,
 15,
 5,
 'a',
 'c',
 'd',
 'data science',
 'e',
 'i',
 'n',
 's',
 't'}

In [ ]:
s.discard("pwskills")

In [ ]:
s.discard((5, 10, 15, 'vandan', 'puneet', 'pwskills', 2.5, (5+2j)))

In [ ]:
s

{' ', 10, 15, 5, 'a', 'c', 'd', 'data science', 'e', 'i', 'n', 's', 't'}

*** 6. Discuss the use case of tuples and sets in python programming.

Ans. Tuples and sets are two data structure in Python. Tuples and sets both heterogenous type of data structure but tuples are ordered and sets unordered collection of data or elements. And tuples are immutable and sets are mutable.

Let's se the use case of tuples.

In [ ]:
# we can use tuples to stored immutable data that we don't want to change like employee id

Employee_id = (101, 102, 103, 104, 105)

In [ ]:
Employee_id

(101, 102, 103, 104, 105)

In [ ]:
#Now this data can't be changed
Employee_id[0] = 106

TypeError: 'tuple' object does not support item assignment

In [ ]:
#let's see ordered use of tuples
#Here i make a tuple of entry of employee .... 1st comer is early first and last comer is last first.
Employee_entry = ("vandan", "puneet", "ajay", "sheetal", "manoj", "ravi", "naresh")
Employee_entry

('vandan', 'puneet', 'ajay', 'sheetal', 'manoj', 'ravi', 'naresh')

In [ ]:
#here is a list of employee and vandan is first comer and naresh is last comer.
#though ti is stored in a tuple these there sequence can't be changed.
Employee_entry[0] = "puneet"

TypeError: 'tuple' object does not support item assignment

Now see some use cases of sets.

In [ ]:
Employee_name = {"vandan", "puneet", "ajay", "sheetal", "manoj", "ravi", "naresh"}
Employee_name

{'ajay', 'manoj', 'naresh', 'puneet', 'ravi', 'sheetal', 'vandan'}

In [ ]:
#now here is name of employees are stored and there is no whether they are in sequence or not
# assume a new employee named kapil got placed in my company then i can easily add his name to the list because sets are mutable
Employee_name.add("kapil")

In [ ]:
Employee_name

{'ajay', 'kapil', 'manoj', 'naresh', 'puneet', 'ravi', 'sheetal', 'vandan'}

In [ ]:
# let's assume i added kapil two times in the list
Employee_name.add("kapil")

In [ ]:
Employee_name.add("kapil")

In [ ]:
# here i added kapil two time in the list but in the sets i will show only one time because sets are unique collection it remove duplicate elements to make it mistake free
Employee_name

{'ajay', 'kapil', 'manoj', 'naresh', 'puneet', 'ravi', 'sheetal', 'vandan'}

***7. Describe how to add, modify and delete elements in the dictionary in the dictionary.***

Ans. Dictionary is a collection of key value pairs. In which keys are immutable and values are mutable. we can't do indexing but with the help of keys we can acces the elements.

Let's see how to add element in the dictionary

In [ ]:
d = {"name": "vandan", "email":"vandansharma9339@gmail.com", "contact": 9509222278}
d

{'name': 'vandan',
 'email': 'vandansharma9339@gmail.com',
 'contact': 9509222278}

In [ ]:
# here it is a dictionary now i want to vandan's age and qualification
# let's see how to add
d["age"] = 20

In [ ]:
d["qualification"] = "B.A"

In [ ]:
d

{'name': 'vandan',
 'email': 'vandansharma9339@gmail.com',
 'contact': 9509222278,
 'age': 20,
 'qualification': 'B.A'}

In [ ]:
#we can also use .update to add element in the dictionary
d1 = {"addresss": "pune", "course": "data science", "language": "python",}
d1

{'addresss': 'pune', 'course': 'data science', 'language': 'python'}

In [ ]:
d.update(d1)

In [ ]:
d

{'name': 'vandan',
 'email': 'vandansharma9339@gmail.com',
 'contact': 9509222278,
 'age': 20,
 'qualification': 'B.A',
 'addresss': 'pune',
 'course': 'data science',
 'language': 'python'}

Now try to modify the dictionary

In [ ]:
# Assume vandan has changed his number to 9352764062 so
d["contact"] = 9352764062

In [ ]:
d

{'name': 'vandan',
 'email': 'vandansharma9339@gmail.com',
 'contact': 9352764062,
 'age': 20,
 'qualification': 'B.A',
 'addresss': 'pune',
 'course': 'data science',
 'language': 'python'}

In [ ]:
# Assume vandan has shifted to hanumangarh
d["addresss"] = "hanumangarh"

In [ ]:
d

{'name': 'vandan',
 'email': 'vandansharma9339@gmail.com',
 'contact': 9352764062,
 'age': 20,
 'qualification': 'B.A',
 'addresss': 'hanumangarh',
 'course': 'data science',
 'language': 'python'}

In [ ]:
# Assume vandan has now cleared M.A.
d["qualification"] = "M.A"

In [ ]:
d

{'name': 'vandan',
 'email': 'vandansharma9339@gmail.com',
 'contact': 9352764062,
 'age': 20,
 'qualification': 'M.A',
 'addresss': 'hanumangarh',
 'course': 'data science',
 'language': 'python'}

In [ ]:
# Assume vandan has changed his course and get digital marketing course
d["course"] = "digital marketing"

In [ ]:
d

{'name': 'vandan',
 'email': 'vandansharma9339@gmail.com',
 'contact': 9352764062,
 'age': 20,
 'qualification': 'M.A',
 'addresss': 'hanumangarh',
 'course': 'digital marketing',
 'language': 'python'}

Now let's try to delete elements from the dictionary.

Note :- if we delete the key then the value related to that key will also be deleted.

In [ ]:
# we can delete key using del [if we provide key name then it will delete key if we don't provide key name then it will delete dictionary]
d

{'name': 'vandan',
 'email': 'vandansharma9339@gmail.com',
 'contact': 9352764062,
 'age': 20,
 'qualification': 'M.A',
 'addresss': 'hanumangarh',
 'course': 'digital marketing',
 'language': 'python'}

In [ ]:
del d["contact"]

In [ ]:
d

{'name': 'vandan',
 'email': 'vandansharma9339@gmail.com',
 'age': 20,
 'qualification': 'M.A',
 'addresss': 'hanumangarh',
 'course': 'digital marketing',
 'language': 'python'}

In [ ]:
# contact has been cleared
# we can also the key using pop>>>> that we pop out the described key and that key will be deleted from the dictionary.
d.pop("course")

'digital marketing'

In [ ]:
d

{'name': 'vandan',
 'email': 'vandansharma9339@gmail.com',
 'age': 20,
 'qualification': 'M.A',
 'addresss': 'hanumangarh',
 'language': 'python'}

In [ ]:
# we can clear the dictionary using .clear()
d.clear()

In [ ]:
d

{}

In [ ]:
# we can also delete the dictionary using del

In [ ]:
del d

In [ ]:
d

NameError: name 'd' is not defined

In [ ]:
#d is deleted now.

***8. Discuss the importance of dictionary keys being immutable and provide examples.***

Ans. In Python, dictionary keys must be immutable because the keys need to be hashable and maintain a consistent hash value throughout their lifetime.


*   Dictionary keys are stored in a hash table, and each key's hash value
determines its location. If keys were mutable and their values changed, the hash value would also change, leading to inconsistent lookups and unpredictable behavior.
Immutable types like strings, numbers, and tuples have fixed hash values, making them reliable dictionary keys.

*   Immutability ensures that the key remains consistent throughout its use in the dictionary. If keys could change, it would disrupt the mapping of keys to values, making it impossible to retrieve the correct value for a given key.

In [ ]:
d = {"name": "vandan", "email":"vandansharma9339@gmail.com", "contact": 9509222278}

In [ ]:
d

{'name': 'vandan',
 'email': 'vandansharma9339@gmail.com',
 'contact': 9509222278}

In [ ]:
#if we make keys mutable then it will show error
d1 = {[1,2,3]: [3,2,1]}

TypeError: unhashable type: 'list'